html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

.card1 {
  position: relative;
  box-sizing: border-box;
  border-top: blue 1em solid;
  border-right: green 1em solid;
  border-bottom: red 1em solid;
  border-right: yellow 1em solid;
  width: 10em;
  height: 10em;
  /* background-color: green; */
}

.card2 {
  position: absolute;

  box-sizing: content-box;
  border: red 1em solid;
  background-color: #fff;
  width: 5em;
  height: 100%;
  background-color: yellow;
}
