.card1 {
  box-sizing: border-box;
  position: relative;
  border:20px solid red;
  width: 100px;
  height: 100px;
  /* background-color: green; */
}

.card2 {
  /* position: absolute; */
  top: -5px;
  left:-5px;
  box-sizing: border-box;
  border:10px solid blue;
  width:50%;
  height:50%

}
