.card1 {
  background-color: blue;
  height: 50px;
  width: min(50%, 600px);
  font-size: 1em;
}

.card2 {
  background-color: green;
  height: 50px;
  font-size: 2em;
}
.card3 {
  background-color: yellow;
  width: 50%;
  height: 50px;
  font-size: 1em;
}
